.login-container {
  .authentication-left {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tilt-logo {
      left: 50px;
      top: 50px;
      display: flex;
      align-items: flex-start;
      position: absolute;
      img {
        width: 70px;
      }
    }
  }
}
