@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.community-card {
  width: 350px;
  padding: 1rem;
  .community-image {
    margin: 3rem 0;
    position: relative;
    div {
      position: absolute;
      left: 75px;
      top: 0;
      background: #c4c4c4;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      @include flex-center;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }
  h3 {
    margin-bottom: 1rem;
  }
}
