upstream api {
    server backend:8000;
}

server {
  # Listen to port defined by Heroku
  listen ${NGINX_PORT};

  location /teamtilt/ {
    proxy_pass http://api$request_uri;
  }

  location /graphql/ {
    proxy_pass http://api$request_uri;
  }

  location / {
    root   /usr/share/nginx/html/;
  }
}
