@import "../../../scss/mixins";

.testimonials-container {
  .testimonials {
    height: 125px;
    display: flex;
    margin-bottom: 2rem;
    .testimonial {
      width: 50%;
      p {
        font-size: 24px;
        margin-bottom: 1rem;
      }
      span {
        font-size: 16px;
        color: gray;
      }
    }
  }
}
