@import "../../../scss/mixins";
@import "../../../scss/variables";

.sign-up-form {
  @include flex-center;
  flex-direction: column;
  width: 400px;
  button {
    height: 40px;
    background: #828282;
    width: 100%;
    color: white;
    font-weight: 500;
  }
  .sign-up-terms-of-service {
    @include flex-center;
    margin-bottom: 20px;
    p {
      text-align: center;
      font-size: 12px;
      color: #828282;
    }
  }
}
