@import "../../../scss/mixins";
@import "../../../scss/variables";

.sign-up-form {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  .sign-up-form-footer {
    @include flex-center;
    height: 40px;
    margin: 0.5rem 0;
    p {
      text-align: center;
      font-size: 12px;
      color: #828282;
    }
  }
}
