.user-type-container {
  .form-header {
    h1 {
      margin: 0;
    }
    margin-bottom: 2.5rem;
  }
  .user-type-back-button {
    button {
      margin-top: 3rem;
    }
  }
  .user-type-buttons {
    display: grid;
    justify-content: center;
    .user-type-buttons-absolute {
      width: 550px;
      display: flex;
      flex-wrap: wrap;
      .first-row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 5%;
        margin-bottom: 1rem;
      }
      .second-row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 47.5%);
        column-gap: 5%;
      }
    }
  }
}
