//
// user.scss
// Use this to write your custom SCSS
//

.badge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-padding {
  padding-top: 92px;
}

.form-label-group > label {
  margin-bottom: 5;
}
