@import "../scss/mixins";

.form-container {
  width: 400px;
  .form-header {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 3rem;
    h1 {
      color: #333;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    p {
      color: #828282;
      text-align: center;
    }
  }
  .form-body {
    margin-bottom: 3rem;
  }
  .form-divider {
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    span {
      color: #828282;
      font-size: 12px;
      width: 50px;
      text-align: center;
    }
    div {
      flex: 1;
      align-self: flex-start;
      height: 50%;
      border-bottom: 1px solid #e0e0e0;
    }
  }
  .onboarding-buttons {
    .secondary-button {
      margin-top: 1rem;
    }
  }
  .form-footer {
    @include flex-center;
    height: 40px;
    margin: 0.5rem 0;
    p {
      font-size: 12px;
      color: #828282;
    }
  }
  fieldset {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    label {
      font-size: 13px;
      color: #444;
      font-weight: 500;
    }
    input {
      border-radius: 4px;
      border: none;
      height: 40px;
      width: 100%;
      padding: 0 15px;
      color: #444;
      font-size: 14px;
    }
  }
  .form-name-fields {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }
  .form-error {
    margin-top: 5px;
    font-size: 12px;
    color: #828282;
  }
  button {
    height: 40px;
    background: #828282;
    width: 100%;
    color: white;
    font-weight: 500;

    &.secondary-button {
      background: transparent;
      border: 1px solid #e0e0e0;
      color: #828282;
    }
  }
  .block-button {
    background: #e0e0e0;
    height: 100px;
    color: #333;
    padding: 1rem;
    &:hover {
      background: #bdbdbd;
    }
  }
}
