@import "./form.scss";
@import "./z-indices.scss";
@import "./mixins";
@import "./variables";

:root {
  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    h1 {
      font-weight: 600;
      font-size: 48px;
    }
    a {
      text-decoration: none;
    }
    button {
      border: none;
      border-radius: 4px;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.authentication-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $light-gray;
  .authentication-left {
    width: 30%;
    background: $gray;
    padding: 50px;
  }
  .authentication-right {
    width: 70%;
    @include flex-center;
  }
}
