@import "../../scss/variables";
@import "../../scss/mixins";

.tilt-nav-bar {
  padding: 2rem;
  display: grid;
  grid-template-columns: 275px 1fr 275px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  a {
    color: $home-page-dark;
    text-decoration: none;
    &:hover {
      color: $tilt-purple;
    }
  }
  img {
    width: 70px;
    object-fit: contain;
  }
  nav {
    flex: 1;
    @include flex-center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        text-align: center;
      }
    }
    a {
      color: $home-page-dark;
    }
  }
  .login-and-get-started {
    @include flex-center;
    justify-content: flex-end;
  }
}
