@import "../../scss/variables";
@import "../../scss/mixins";

.tilt-nav-bar-container {
  padding: 2rem;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  img {
    width: 70px;
    object-fit: contain;
  }
  nav {
    flex: 1;
    @include flex-center;
    a {
      color: $home-page-dark;
    }
  }
  .login-and-get-started {
    @include flex-center;
  }
}
