@import "../../scss/variables";
@import "../../scss/mixins";

.tilt-accordion {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(201, 201, 201);
  .MuiAccordionSummary-root {
    padding: 0;
  }
  .MuiAccordionSummary-content {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
  }
  .MuiAccordionDetails-root {
    color: #a4aed1;
  }
  &::before {
    display: none;
  }
}

.expand-icon {
  width: 30px;
  height: 30px;
  background: $tilt-purple;
  border-radius: 50%;
  @include flex-center;
  .custom {
    height: 130%;
    width: 130%;
    color: $tilt-light-purple;
  }
}
