@import "../../scss/variables";
@import "../../scss/mixins";

.home-page-container {
  background: linear-gradient(
    180deg,
    #f2f7ff 0%,
    #ffffff 10.07%,
    #ffffff 37.21%,
    #ffffff 63.69%,
    #ffffff 91.34%,
    #f3f7ff 100%
  );
  .tilt-nav-bar {
    left: -5rem;
    right: -5rem;
  }
  .tilt-banner {
    margin-top: 2.5rem;
  }
  .tilt-partners {
    margin-top: 15rem;
    .tilt-partners-header {
      width: 50%;
      margin-bottom: 5rem;
      h2 {
        margin-bottom: 2rem;
      }
    }
    .client-logos {
      display: flex;
      justify-content: space-between;
      img {
        width: 90px;
      }
      div {
        @include flex-center;
        width: 25%;
        opacity: 0.6;
        &.butler-logo {
          img {
            width: 75%;
          }
        }
      }
    }
  }
  .tilt-join {
    margin-top: 15rem;
    .tilt-join-header {
      margin-bottom: 5rem;
    }
  }
  .tilt-financial-aid {
    align-items: flex-start !important;
    .image {
      p {
        color: #a4aed1;
        margin-top: 1rem;
      }
    }
  }
  .tilt-testimonial {
    margin-top: 15rem;
  }
  .tilt-faq {
    margin-top: 15rem;
    margin-left: -10rem;
    margin-right: -10rem;
    width: inherit !important;
    max-width: inherit !important;
  }
  h1 {
    font-weight: 600;
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
    font-weight: 600;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
  }
  .tilt-footer {
    margin-top: 10rem;
  }
  a {
    color: $font-color-primary;
    text-decoration: none;
    &:hover {
      color: $tilt-purple;
    }
  }

  .tilt-email-input {
    display: flex;
    width: 100%;
    input {
      padding: 12px 30px;
      border-radius: 4px;
      background: $light-gray;
      border: none;
      outline: none;
      flex: 1;
      margin-right: 2rem;
    }
  }

  .tilt-couple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text,
    .image {
      width: 45%;
    }
    .text {
      h1,
      h2 {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 4rem;
      }
      .get-started {
        display: flex;
        align-content: space-between;
        div {
          flex: 1;
          padding: 0 2rem;
          p {
            margin: 0;
            font-size: 14px;
          }
          span {
            font-size: 12px;
            color: gray;
          }
        }
      }
    }
    img {
      width: 100%;
    }
  }

  .purple-box {
    border-radius: 4px;
    background: $tilt-purple;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    .organization {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text,
      .form {
        width: 45%;
      }
      .text {
        p {
          color: darken($gray, 20%);
          font-size: 14px;
        }
      }
      .tilt-email-input {
        input {
          background: lighten($tilt-purple, 5%);
          color: white;
          &::placeholder {
            color: darken($gray, 20%);
          }
        }
      }
    }
    .features {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .home-page-container {
    .tilt-financial-aid {
      flex-direction: column;
      .text,
      .image {
        width: 100%;
      }
    }
  }
}
