@import "../../../scss/mixins";

.tilt-testimonial {
  .testimonials {
    height: 225px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    .testimonial {
      width: 45%;
      p {
        font-size: 24px;
        margin-bottom: 1rem;
      }
      span {
        font-size: 16px;
        color: gray;
      }
    }
  }
}
