@import "../../../scss/mixins";

.TiltTestimonial {
  .TiltTestimonial__testimonials {
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    .star {
      color: #ffdd00;
    }
    .testimonial {
      width: 45%;
      div {
        margin-bottom: 1rem;
      }
      p {
        font-size: 24px;
        margin-bottom: 1rem;
      }
      span {
        font-size: 16px;
        color: gray;
      }
    }
  }
}
