@import "../../../scss/mixins";
@import "../../../scss/variables";

.tilt-faq {
  // background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  .faq-container {
    max-width: 1400px;
    margin: 0 auto;
    h2 {
      margin-bottom: 5rem;
    }
    > div {
      display: flex;
      > div {
        flex: 1;
        &:first-child {
          margin-right: 5rem;
        }
        .tilt-accordion {
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
