@import "../../../scss/variables";
@import "../../../scss/mixins";

.FaqCard {
  border-radius: 4px;
  border: 1px solid #eaeaec;
  min-height: 120px;
  display: grid;
  grid-template-columns: 6rem 1fr;
  .FaqCard__help-icon {
    @include flex-center;
    > div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include flex-center;
      font-weight: bold;
      color: $tilt-purple;
      font-size: 24px;
      background: $tilt-light-purple;
    }
  }
  .FaqCard__question {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
  }
}
