.preferred-name-container {
  .preferred-name-options {
    .form-header {
      margin-bottom: 2.5rem;
    }
    .secondary-button {
      margin-top: 3rem;
    }
  }
  .preferred-name-update {
    .form-header {
      margin-bottom: 2rem;
    }
  }
}
