@import "../../scss/variables";
@import "../../scss/mixins";

.sign-up-container {
  .authentication-left {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    .tilt-logo {
      display: flex;
      align-items: flex-start;
      img {
        width: 70px;
      }
    }
    .tilt-message-container {
      .tilt-message {
        margin-bottom: 3rem;
        h2 {
          margin-bottom: 0.75rem;
        }
        p {
          color: #828282;
          margin: 0;
        }
      }
    }
    .tilt-footer {
      color: #828282;
      display: flex;
      align-items: flex-end;
    }
  }
  .authentication-right {
    display: flex;
    flex-direction: column;
    .sign-up-header {
      @include flex-center;
      flex-direction: column;
      margin-bottom: 3rem;
      h1 {
        color: #333;
        margin-bottom: 0.5rem;
      }
      p {
        color: #828282;
      }
    }
    .sign-up-footer {
      @include flex-center;
      height: 40px;
      margin: 0.5rem 0;
      p {
        font-size: 12px;
        color: #828282;
      }
    }
  }
}
