.preferred-pronoun-container {
  .form-body {
    display: grid;
    justify-content: center;
    div {
      width: 550px;
      display: flex;
      button {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.custom-pronoun-container {
  .form-body {
    margin-bottom: 0;
  }
}
