#google-oauth-button {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  background: #e0e0e0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  img{
    width: 17px;
    margin-right: 10px;
  }
}
